<div class="page-header">
  <h1 class="align-right">{{ page.title }}</h1>
  <div class="menu-bar">
    <a href="{{ BASE_PATH }}/" class="align-left"><i class="icon-home"></i> Go back home</a>
  </div>
</div>

<div class="post-content">
  {{ content }}
</div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
</div>
